@model BackOffice.Models.MessageModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MessageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePoste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePoste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenuMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenuMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
